footer.nb-footer
  .container
    .row
      .col-sm-12
        .about
          .about-items
            img.img-responsive.center-block(src='/img/logo.png' alt='')
          .about-items  
            ul.footer-menu 
              li 
                a(href="" alt="") FAQ
              li 
                a(href="" alt="") About 
              li 
                a(href="" alt="") Prices       
          .about-items
            .social-media
              ul.list-inline
                li.social-icon
                  a(href='http://www.facebook.com/' title='')
                    i.fab.fa-facebook
                li.social-icon
                  a(href='http://www.instagram.com/' title='')
                    i.fab.fa-instagram
  .col-sm-12.copyright
    p Copyright &copy; 2021. SinchUK.
        