#carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
  .carousel-indicators
    button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
    button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
    button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100.banner-height(src='/img/banner1.jpg' alt='banner foto')
      .carousel-caption-custom.d-md-block
        h5 Надійний результат
        //- p  Після повного курсу ти забудеш про необхідність боротьби з волоссям на тілі або обличчі.
    .carousel-item
      img.d-block.w-100.banner-height(src='/img/banner5.jpg' alt='...')
      .carousel-caption-custom.d-md-block
        h5 Безпечність
        //- p Ніяких порізів чи подряпин видаляється тільки волосся і більше нічого
    .carousel-item
      img.d-block.w-100.banner-height(src='/img/banner6.jpg' alt='...')
      .carousel-caption.d-none.d-md-block
    .booking-block
      .booking-block-overlay
        h2 
          strong Лазерна епіляція 
        h3 Перший сеанс - послуга безкоштовна
        .booking-btn.services-btn
          span ЗАМОВИТИ 
  button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.visually-hidden Previous
  button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.visually-hidden Next
.banner-mobile 
  .banner-mobile-wrapper
    .banner-mobile-header
      h2 
        strong Лазерна епіляція
      h3 Перший сеанс - послуга безкоштовна
      .booking-btn.services-btn
        span ЗАМОВИТИ 
.section-gap
  hr