.advantages {
    padding: 40px 0 60px;
    background-image: url('/img/women.png');
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 100vh;
}
.advantages-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.advantages-item .card {
    border-color: $mainColor;
}
.advantages-head {
    text-align: center;
}
.fa {
    margin: 20px;
}
.card-body i {
    font-size: 4rem;
    border: 2px solid $mainColor;
    border-radius: 55px;
    padding: 20px;
    color: $mainColor;
}