footer {
    color: grey;
    height: 200px;
    background-color: $mainColor;
}

.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-inline li {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    margin: 15px;
    padding: 1px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        width: 30px;
        height: 30px;
        color: black;
        text-decoration: none;
        &:hover {
            background-color: black;
            color: $mainColor;
        }
    }
        
}
