.footer-links ul li a {
    color: $mainColor;
    &:hover {
        color: white;
        transition: 0.6s;
    }
}
.social-links a {
    color: $mainColor;
    border-color: $mainColor;
}
.copyright {
    padding-bottom: 1px;
}