.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 10px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.card-img-top {
    margin: 0 0 20px;
    width: 50%;
}
.prices .card:hover {
    box-shadow: 0 0 10px $mainColor;
}
.prices-head {
    margin-top: 35px;
    text-align: center;
}