extends common/layout

block content
  main.main
    include includes/about/company-info
    //- include includes/index/banner
    include includes/about/advantages
    include includes/about/prices
    include includes/about/contacts
    
    //- и другие блоки
