extends common/layout

block content
  main.main
    include includes/index/banner
    include includes/about/company-info
    include includes/about/prices
    include includes/about/advantages
    
    //- и другие блоки
