h2.advantages-head Переваги лазерної епіляції
.advantages 
    .advantages-items.gap-4  
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Безпечність
                    <i class="fas fa-shield-virus"></i>
                    p.card-text 
                        |Лазер впливає на шкіру на глибині 2-3 мм та видаляє волосяні фолікули, не пошкоджує судини, капіляри, лімфовузли та не залишає рубців
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Безболісність
                    <i class="far fa-smile"></i>
                    p.card-text 
                        |Неприємні відчуття при виконанні лазерної епіляції мінімальні в порівнянні з будь-якими іншими видами епіляції
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Швидкість маніпуляції
                    <i class="fa fa-rocket"></i>
                    p.card-text 
                        |Видалення волосся над верхньою губою займе не більше трьох хвилин, в зоні бікіні – до 30 хвилин
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Економія часу
                    <i class="far fa-clock"></i>
                    p.card-text 
                        |Не потрібно щоденно голитися або використовувати віск, на процедуру необхідно приходити всього раз в 1-3 месяці
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Гіпоалергенність
                    img.card-body-gipo(src="/img/gipoalergia.png")
                    p.card-text 
                        |Лазерний промінь самий гіпоалергенний апарат, який плюс до всього надає на шкіру протизапальну дію, вбиваючи бактерії
        .advantages-item 
            .card(style='width: 16rem;')
                .card-body
                    h5.card-title Ефективність
                    img.card-body-legs(src="/img/legs-icon.png")
                    p.card-text 
                        |Найвищі показники ефективності саме у лазерної епіляції, наприклад, схожа процедура фотоепіляції не дає таких результатів