.about-info
    video#myVideo(autoplay='' muted='' loop='' )
        source(src='/video/video.mp4' type='video/mp4')
    .services 
        .services-item 
            p Лазерна епіляція 
            p всього тіла
            p 400 грн 
            .services-btn
                span ЗАМОВИТИ