.about-info
    video#myVideo(autoplay='' muted='' loop='' )
        source(src='/video/video.mp4' type='video/mp4')
    .services 
        .services-item 
            h3 Довіртесь
            h3 Професіоналам
            h2 Лазерна епіляція 
            h3 всього тіла
            h5 400 грн 
            .services-btn
                span ЗАМОВИТИ
    