.contacts
  .card.card-cascade.narrower.map-container
    .view.view-cascade.gradient-card-header.peach-gradient
      h5.mb-0 Наша адреса
    .card-body.card-body-cascade.text-center
      #map-container-google-9.z-depth-1-half.map-container-5
        iframe.google-map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1579.7460467853023!2d30.384816259759134!3d50.38211479135949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c92de440d95d%3A0x5834fa237cb09c23!2z0ITQtNC90L7RgdGC0ZYgNQ!5e0!3m2!1sru!2str!4v1618538063550!5m2!1sru!2str' style='border:0;' allowfullscreen='' loading='lazy')
  .contacts-info
    .contacts-info-header 
      b Наші контакти : 
    .contacts-info-list 
      ul 
        li 
          b Tel. 
          | (098) 111 11 11
        li 
          b Tel. 
          | (067) 111 11 11
        li 
          b Tel. 
          | (044) 111 11 11
        li 
          b E-@mail: 
            a(href="mailto:epio@gmail.com") epio@gmail.com  
      