.prices.gap-4
    .card(style='width: 16rem;')
        .card-body
            h5.card-title Лазерна епіляція
            p.card-text
                | Верхньої губи
            img.card-img-top(src='/img/lips.png' alt='...')
            p.card-text 
                |350грн.
            .services-btn
                    span ЗАМОВИТИ
    .card(style='width: 16rem;')
        .card-body
            h5.card-title Лазерна епіляція
            p.card-text
                | пахвової западини
            img.card-img-top(src='/img/hands.png' alt='...')
            p.card-text 
                |650грн.
            .services-btn
                    span ЗАМОВИТИ
    .card(style='width: 16rem;')
        .card-body
            h5.card-title Лазерна епіляція
            p.card-text
                | ніг повністю
            img.card-img-top(src='/img/legs.png' alt='...')
            p.card-text 
                |450грн.
            .services-btn
                    span ЗАМОВИТИ
    .card(style='width: 16rem;')
        .card-body
            h5.card-title Лазерна епіляція
            p.card-text
                | тотальне бікіні
            img.card-img-top(src='/img/bikini.png' alt='...')
            p.card-text 
                |550грн.
            .services-btn
                span ЗАМОВИТИ
.section-gap
  hr